html {
  font-size: 62.5%;
  /* font-family: 'Montserrat', sans-serif; */
}

body {
  background-image: linear-gradient(to right, black, grey);
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
 
  
}

.stopwatch {
  width: 80%;
  margin: 5rem auto;
  background-color: rgba(255, 255, 255, .1);
  border-radius: .5rem;
  padding: 10rem 5rem;
}

.controls {
  display: flex;
} 

button {
  flex-grow: 1;
  margin: 0 1rem;
  padding: 2rem 0;
  border-radius: .5rem;
  border: 3px solid;
  outline: none;
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: all ease-in-out .2s;
}



button:active {
  transform: translateY(.3rem);
  }

  .start {
    background-color: #fff;
    border-color: #fff;
    color:grey;
  }
    .start:hover {
      background-color: rgb(99, 99, 99);
      border-color: rgb(99, 99, 99);
      color: #fff;
    }
  
  .stop {
    background-color: rgb(99, 99, 99);
    border-color: rgb(99, 99, 99);
    color: #fff;
  }
    .stop:hover {
      background-color: #fff;
      border-color: #fff;
      color:grey;
    }
  
  .reset {
    background-color: black;
    border-color: black;
    color: grey;
  }
    .reset:hover {
      background-color: #fff;
      border-color: #fff;
    }
  
  .display {
    font-size: 10rem;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 10rem;
  }
   .display :not(:last-child):after {
      content: ':';
    }